body, html {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --main-color: #e6aace;
    --dark-color1: #344966;
    --dark-color2: #0D1821;
    --light-color1: #F0F4EF;
    --light-color2: #BFCC94;
}

.wrapper {
    height: 100vh;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 7rem;
    margin-bottom: 10px;
}

.messages {
    display: flex;
    justify-content: space-evenly;
    width: 35vw;
    margin-bottom: 20px;
    background-color: var(--main-color);
    padding: 10px 15px;
    border-radius: 10px;
}

.markers{
    font-size: 1.5rem;
    font-weight: 600;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 10px;
}

.field {
    background-color: var(--light-color1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 5px;
}

.field:hover {
    background-color: var(--light-color2);
}

.btn {
    background-color: var(--dark-color1);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover{
    background-color: var(--light-color1);
    color: var(--dark-color2);
}

.btn:active{
    background-color: var(--main-color);
    color: var(--dark-color2);
}