body, html {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --main-color: #e6aace;
    --dark-color1: #344966;
    --dark-color2: #0D1821;
    --light-color1: #F0F4EF;
    --light-color2: #BFCC94;
}

.wrapper {
    height: 100vh;
}

.score {
    display: flex;
    justify-content: space-evenly;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 10px;
}

.field {
    background-color: var(--light-color1);
    cursor: pointer;
}

.field:hover {
    background-color: var(--light-color2);
}