body, html {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --main-color: #9BC53D;
    --dark-color1: #E55934;
    --dark-color2: #FA7921;
    --light-color1: #FDE74C;
    --light-color2: #5BC0EB;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 7rem;
    margin-bottom: 10px;
    background-image: linear-gradient(66deg, var(--light-color2), var(--dark-color1), var(--light-color1), var(--light-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(126, 126, 126);
}

.messages {
    display: flex;
    justify-content: space-evenly;
    width: 35vw;
    margin-bottom: 20px;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
}

.player, .roboto{
    font-size: 1.5rem;
    font-weight: 600;
}

.name {
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 200px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 10px;
}

.field {
    background-color: var(--light-color1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 5px;
}

.field:hover {
    background-color: var(--light-color2);
}

.btn {
    background-color: var(--dark-color1);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
}

.btn:hover{
    background-color: var(--light-color1);
    color: var(--dark-color2);
}

.btn:active{
    background-color: var(--main-color);
    color: var(--dark-color2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--main-color);
    color: #fff;
    margin: 15% auto;
    padding: 15px;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    font-size: 1.5rem;
}

.close {
    color: #fff;
    float: right;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    margin-top: auto;
    color: #fff;
    background-color: var(--light-color2);
    width: 100%;
    text-align: center;
    padding: 5px;
}

.footer a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}